In [1]:
import pandas as pd

In [2]:
pwd

'c:\\Users\\user\\OneDrive\\Documents\\GitHub\\TEK\\ML-DS\\practices\\pandas'

In [3]:
ls

 Volume in drive C is OS
 Volume Serial Number is 8A59-8836

 Directory of c:\Users\user\OneDrive\Documents\GitHub\TEK\ML-DS\practices\pandas

30-07-2023  10:56    <DIR>          .
25-07-2023  07:55    <DIR>          ..
29-07-2023  14:30            50,940 combiningDataFrames.ipynb
23-07-2023  22:25            71,734 Data_filtering.ipynb
23-07-2023  10:54           214,460 Dataframes.ipynb
28-07-2023  07:17           250,320 groupByOprs..ipynb
30-07-2023  11:02             1,099 ipopCSV.ipynb
25-07-2023  07:43            53,162 missingData.ipynb
20-07-2023  06:31               177 movie_scores.csv
22-07-2023  07:40            13,484 Series.ipynb
29-07-2023  15:13             7,928 textMethodsonString.ipynb
30-07-2023  10:30            75,703 timeMethods.ipynb
20-07-2023  06:31            18,752 tips.csv
25-07-2023  06:57           158,153 usefulMethods.ipynb
              12 File(s)        915,912 bytes
               2 Dir(s)  112,196,378,624 bytes free

In [4]:
import os

In [6]:
os.getcwd()

'c:\\Users\\user\\OneDrive\\Documents\\GitHub\\TEK\\ML-DS\\practices\\pandas'

In [20]:
df = pd.read_csv('../ML_NoteBook/03-Pandas/example.csv', index_col=0)

In [21]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [25]:
df.to_csv('newFile.csv',index=True)

In [26]:
df2 = pd.read_csv('newFile.csv')

In [27]:
df2

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

Input and Output HTML Tebles

In [2]:
import pandas as pd

In [4]:
url = 'https://en.wikipedia.org/wiki/World_population'

In [5]:
table = pd.read_html(url)

In [6]:
len(table)

29