In [1]:
import numpy as np

In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp310-cp310-win_amd64.whl (10.7 MB)
     ---------------------------------------- 10.7/10.7 MB 5.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\envs\new_enviornment\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\envs\new_enviornment\lib\site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     -------------------------------------- 341.8/341.8 kB 7.1 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     -------------------------------------- 502.3/502.3 kB 6.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\envs\new_enviornment\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
myIndex =  ['USA', 'INDIA', 'PAKISTAN']

In [3]:
myData = ['1776', '1947', '1947']

In [4]:
myserData = pd.series(data = myData)

NameError: name 'pd' is not defined

In [5]:
import pandas as pd

In [13]:
myserData = pd.Series(myData,myIndex)

In [14]:
myserData

USA         1776
INDIA       1947
PAKISTAN    1947
dtype: object

In [10]:
myserData['USA']

'1776'

In [15]:
ages = {'sam':5,'frank':7,'spike':3}

In [16]:
pd.Series(ages)

sam      5
frank    7
spike    3
dtype: int64

In [1]:
q1 = {'China':80,'India':60,'Japan':70,'USA':75}

In [3]:
q1 = {'China':80,'India':60,'Japan':70,'USA':75}
q2 = {'China':120,'India':80,'Japan':40,'USA':118}

In [6]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [7]:
sales_q1

China    80
India    60
Japan    70
USA      75
dtype: int64

In [8]:
sales_q2

China    120
India     80
Japan     40
USA      118
dtype: int64

In [10]:
sales_q1['India']

60

In [11]:
sales_q2[1]

80

In [12]:
sales_q1.keys()

Index(['China', 'India', 'Japan', 'USA'], dtype='object')

In [15]:
sales_q2

China    120
India     80
Japan     40
USA      118
dtype: int64

In [16]:
sales_q1/100

China    0.80
India    0.60
Japan    0.70
USA      0.75
dtype: float64

In [17]:
sales_q1

China    80
India    60
Japan    70
USA      75
dtype: int64

In [18]:
sales_q2

China    120
India     80
Japan     40
USA      118
dtype: int64

In [22]:
sales_q2

China    120
India     80
Japan     40
USA      118
dtype: int64

In [23]:
sales_q1 + sales_q2

China    200
India    140
Japan    110
USA      193
dtype: int64

In [25]:
sales_q1.add(sales_q2,fill_value=0)

China    200
India    140
Japan    110
USA      193
dtype: int64

In [26]:
sales_q3 = pd.Series({'Bangladesh':33,'Brazil':54,'UK':67,'France':56})

In [27]:
sales_q3

Bangladesh    33
Brazil        54
UK            67
France        56
dtype: int64

In [28]:
sales_q4 = sales_q1 + sales_q2

In [29]:
sales_q4

China    200
India    140
Japan    110
USA      193
dtype: int64

In [30]:
sales_q3 + sales_q4

Bangladesh   NaN
Brazil       NaN
China        NaN
France       NaN
India        NaN
Japan        NaN
UK           NaN
USA          NaN
dtype: float64

In [32]:
sales2023 = sales_q3.add(sales_q4,fill_value=0)

In [33]:
sales2023

Bangladesh     33.0
Brazil         54.0
China         200.0
France         56.0
India         140.0
Japan         110.0
UK             67.0
USA           193.0
dtype: float64

In [34]:
sales2023.dtype

dtype('float64')

In [35]:
sales2023.convert_dtypes(convert_integer=1)

Bangladesh     33
Brazil         54
China         200
France         56
India         140
Japan         110
UK             67
USA           193
dtype: Int64