In [1]:
import numpy as np
import pandas as pd

In [3]:
names = pd.Series(['Rohit', 'Ritam', 'Soumyajit', 'Prasun', 'Dipayan', 'Piyush', '7'])

In [4]:
names

0        Rohit
1        Ritam
2    Soumyajit
3       Prasun
4      Dipayan
5       Piyush
6            7
dtype: object

In [5]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [6]:
names.str.upper()

0        ROHIT
1        RITAM
2    SOUMYAJIT
3       PRASUN
4      DIPAYAN
5       PIYUSH
6            7
dtype: object

In [7]:
names.str.lower()

0        rohit
1        ritam
2    soumyajit
3       prasun
4      dipayan
5       piyush
6            7
dtype: object

In [8]:
tech_finance = ['GOOG, APPL, AMZN', 'JPM, BAC, GS']

In [9]:
len(tech_finance)

2

In [10]:
tickers = pd.Series(tech_finance)

In [11]:
tickers

0    GOOG, APPL, AMZN
1        JPM, BAC, GS
dtype: object

In [17]:
tech = 'google, apple, amazon'

In [19]:
tech.split(',')[0]

'google'

In [24]:
techFin = tickers.str.split(',', expand=True)

In [27]:
techFin.columns = ['c1', 'c2', 'c3']

In [28]:
techFin

     c1     c2     c3
0  GOOG   APPL   AMZN
1   JPM    BAC     GS

In [29]:
techFin.index = ['r1', 'r2']

In [30]:
techFin

      c1     c2     c3
r1  GOOG   APPL   AMZN
r2   JPM    BAC     GS