In [2]:
import numpy as np
import pandas as pd

from datetime import datetime

In [3]:
myYear = 2023
myMonth = 7
myDay = 30
myHour = 8
myMin = 35
mySec = 38

In [4]:
myDate = datetime(myYear, myMonth, myDay, myHour, myMin, mySec)

In [5]:
myDate

datetime.datetime(2023, 7, 30, 8, 35, 38)

In [6]:
myTimeSer = pd.Series(['01/01/2023', '07/30/2023', None])

In [7]:
myTimeSer

0    01/01/2023
1    07/30/2023
2          None
dtype: object

In [11]:
myTimeSer = pd.to_datetime(myTimeSer)

In [12]:
myTimeSer[0].year

2023

In [13]:
eu_date = '31/12/2022'

In [15]:
pd.to_datetime(eu_date)

C:\Users\user\AppData\Local\Temp\ipykernel_3292\2955755112.py:1: UserWarning: Parsing '31/12/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(eu_date)

Timestamp('2022-12-31 00:00:00')

In [16]:
e_date = '10-12-2022'

In [18]:
pd.to_datetime(e_date, dayfirst=True)

Timestamp('2022-12-10 00:00:00')

In [19]:
myTime2 = '30--Jul--2023'

In [20]:
pd.to_datetime(myTime2, format='%d--%b--%Y')

Timestamp('2023-07-30 00:00:00')

In [21]:
customDate = '12th of Dec 2000'

In [22]:
pd.to_datetime(customDate)

Timestamp('2000-12-12 00:00:00')

In [24]:

pd.to_datetime(myTime2, format='%d--%b--%Y')

Timestamp('2023-07-30 00:00:00')

In [25]:
sales = pd.read_csv('../ML_NoteBook/03-Pandas/RetailSales_BeerWineLiquor.csv')

In [26]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [27]:
sales['DATE']

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [29]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [30]:
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [32]:
sales['DATE'][0].year

1992

In [33]:
sales = pd.read_csv('../ML_NoteBook/03-Pandas/RetailSales_BeerWineLiquor.csv', parse_dates=[])

In [42]:
sales

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

In [43]:
sales['DATE']

KeyError: 'DATE'

In [44]:
sales = sales.set_index('DATE')

KeyError: "None of ['DATE'] are in the columns"

In [37]:
sales.resample(rule='A')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [47]:
sales = pd.read_csv('../ML_NoteBook/03-Pandas/RetailSales_BeerWineLiquor.csv', parse_dates=[])

In [48]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [49]:
sales['DATE']

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [51]:
sales = sales.set_index('DATE')

In [59]:
sales.columns = ['DATE']

In [61]:
sales = pd.read_csv('../ML_NoteBook/03-Pandas/RetailSales_BeerWineLiquor.csv', parse_dates=[0])

In [62]:
sales.index

RangeIndex(start=0, stop=340, step=1)